@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #cccccc;
    max-width: 1000px;
    margin: auto;
    background-color: #222222;
}

.solutions {
    border-width: 0 2px;
    border-color: #6a5273;
    border-style: solid;
    min-height: 100vh;
}

h1,
h2,
h3 {
    padding: 10px 0;
}

h1,
h2 {
    font-weight: 500;
    text-align: center;
}

h3 {
    font-weight: 400;
    text-align: left;
}

.solution {
    padding: 5px;
}

.solution:hover {
    background-color: #2a2a2a;
}

.parts {
    justify-content: space-around;
    display: none;
}

.active {
    display: flex;
}

.part {
    display: flex;
    flex-direction: column;
}

.field {
    font-size: 1.2em;
    font-weight: 300;
}

label {
    color: #aaaaaa;
    border-radius: 4px;
    padding: 0 10px;
}

.test_result {
    font-weight: 600;
    font-variant: small-caps;
}

.passed {
    color: #9df189;
}

.failed {
    color: #f18990;
}

button {
    color: #aaaaaa;
    font-size: 1.2em;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
    background-color: #333333;
    border: 0;
    border-radius: 4px;
}

button:hover {
    color: #101010;
    background-color: #9674a3;
}

button:active {
    color: #101010;
    background-color: #6a5273;
}
